doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
    script(src="https://kit.fontawesome.com/18ab740b53.js", crossorigin="anonymous")
  body
    block layoutContent