mixin CommentField(recipeId)
  if user 
    div.flex.flex-col
      form(method="post" action=`recipe/${recipeId}/comments`)
        p.custom-header.mb-5.mt-10 Write a comment
        textarea(name="text" class="w-full bg-gray-100 rounded-md p-4 min-h-[150px]" placeholder="Share your opinion...")
        div.flex.justify-end
          button(class="brand-button p-2 border-2") Submit
  else
    p.custom-header.mb-5.mt-10 Write a comment
    div.flex.gap-2
      p If you want to share your opintion, you need to 
      a(href="login")
        span.text-orange-600 Login in

