extends layout
include ../partials/recipeCard.pug
include ../partials/pagination.pug

block pageContent
  div(class="flex flex-col gap-5 w-[80%] mx-auto")
    div(class="flex justify-between mb-10")
      h1(class="custom-header") Recently added
      +Pagination(pagination.currentPage, pagination.total, pagination.limit, "/")
    div(class="grid grid-cols-3 gap-3")
      each recipe in recipes
        +RecipeCard(recipe)