extends layout

block pageContent
	form(method="POST", action="register")
		div.flex.gap-5.flex-col
			div.flex.flex-col.gap-2
				label(for="fullName") Full name:
				input(type="text", name="fullName", required, class="border-1 p-1", placeholder="John Doe")
			div.flex.flex-col.gap-2
				label(for="email") Email:
				input(type="text", name="email", required, class="border-1 p-1", placeholder="e.g. john.doe@mail.com")
			if errors
				if errors.email
					p(class="text-red-600")= errors.email
			div.flex.flex-col.gap-2
				label(for="password") Password:
				input(type="password", name="password", required, class="border-1 p-1", placeholder="Your super secure password")
			button(type="submit" class="border-1 w-[128px] py-2 px-3 ml-auto mr-auto hover:bg-black hover:text-white") Register
			div.flex.gap-2
				p Have an account?
				a(href="login") 
					span.text-orange-600 Log in